div.notificaMe-queue {
	position:fixed;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-topright:2px;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-top-left-radius:2px;
	padding: 5px;
	background: url(../img/back.png) repeat left top;
	z-index: 999;
}
div.notificaMe-note {
	/*padding-right:20px;*/
	margin: 0;
	/*vmc*/
	overflow:hidden;
}

/* para los textos, este ser� el que se reemplaza dependiendo el contenido */

div.notificaMe {
	/*min-width:260px;*/
	min-width:20px;
	font-size:12px;
	display:none;
	padding:10px;
	position:relative;
	color: #999999;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1); 
	word-wrap: break-word;
	background-color: #FFFFFF;
	border: 1px solid #C6C6C6;
}
div.notificaMe-info, div.notificaMe-alerta, div.notificaMe-error {
	font-size: 14px;
	color: #737373;
}
div.notificaMe-alerta {
	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left 5px;
}
div.notificaMe-error {
	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left 5px;
}

/* para los textos, este ser� el que se reemplaza dependiendo el contenido */

div.notificaMe img.notificaMe-close {
	position:absolute;
	top: 3px;
	right: 3px;
	height: 8px;
	width: 8px;
	cursor: pointer;
}

.top-right{
	right:20px;
}
.top-left{
	left:20px;
}
.top-center {
	width: 100%;
	display: block;
    min-height: 30px;
    padding: 0 !important;
    border: none !important;
    background-color: none !important;
    top: 50px !important;
    background-image: none !important;
}

.border-top-center {
	background-image: url("../img/black75.png") !important;
	background-repeat: repeat;
	background-position: left top;
	background-color: transparent !important;
    border: none !important;
    color: #FFFFFF !important;
    font-size: 26px !important;
    line-height: 170%;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    text-shadow: none !important;
}
.top-right, .top-left, .top-center {
	top:55px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;
	-moz-border-radius-bottomright:2px;
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px
}
.bottom-right{
	right:20px
}
.bottom-left{
	left:20px
}
.bottom-right,.bottom-left{
	bottom:25px;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-topright:2px;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-top-left-radius:2px
}
/*.border-top-right,.border-top-left{
	border-top:1px solid #999;
}
.border-bottom-right,.border-bottom-left{
	border-bottom:1px solid #999;
}*/



/* custom */

div.notificaMe-video, div.notificaMe-queue div.notificaMe-musica div.notificaMe-queue {
	width: auto;
	padding: 5px;
	background: #f5f5f5;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
	-moz-border-radius-topright:2px;
	-moz-border-radius-topleft:2px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-top-left-radius:2px;
}
div.notificaMe-video img.notificaMe-close, div.notificaMe-musica img.notificaMe-close {
	position:absolute;
	right: 5px;
    top: 5px;
	height: 10px;
	width: 10px;
	cursor: pointer;
	background-image: url(../img/closeMultimedia.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.notificaMe-video img.notificaMe-minimize, div.notificaMe-musica img.notificaMe-minimize {
	position: absolute;
	top: 5px;
	right: 25px;
	height: 10px;
	width: 10px;
	cursor: pointer;
	background-image: url(../img/minimize.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.notificaMe-video img.notificaMe-maximize, div.notificaMe-musica img.notificaMe-maximize {
	position: absolute;
	top: 5px;
	right: 25px;
	height: 10px;
	width: 10px;
	cursor: pointer;
	background-image: url(../img/maximize.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.notificaMe-video div.notificaMe-note, div.notificaMe-musica div.notificaMe-note {
	margin: 15px 0 0 0;
}

.border-top-center img.notificaMe-close {
	position:absolute;
	right: 10px !important;
    top: 10px !important;
	height: 12px !important;
	width: 12px !important;
	cursor: pointer;
	background-image: url(../img/closeCentral.png);
	background-repeat: no-repeat;
	background-position: center center;
}

/* custom */